@font-face {
    font-family: 'Champion';
    src: url('optichampion-script.ttf');
}

* {
    margin: 0;
    padding: 0;
}

/*Logo*/

.logo {
    background-color: #8d0800;
    height: 101vh;
    width: 100%;
    background-image: url(img/logobg.jpg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.logo h1 {
    font-family: 'Champion';
    color: ivory;
    font-size: 55px;
    margin-left: 550px;
    margin-top: -10px;
    font-weight: lighter;
    padding-top: 20px;
}

.logo h2 {
    font-family: 'Champion';
    color: ivory;
    font-size: 60px;
    font-weight: lighter;
    margin-left: 700px;
    margin-top: -20px;
}

.logo h3 {
    font-family: 'Champion';
    color: ivory;
    font-size: 45px;
    font-weight: lighter;
    margin-left: 800px;
    margin-top: -60px;
}

#big {
    font-family: 'Champion';
    color: ivory;
    font-size: 85px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-top: -118px;
    margin-left: 730px;
}

#small {
    font-family: 'Champion';
    color: ivory;
    font-size: 50px;
    font-weight: lighter;
    margin-top: -75px;
    margin-left: 960px;
}

.logo img {
    height: 225px;
    width: 275px;
    top: 0;
    left: 0;
    transform: translate(230%, -15%);
    -webkit-transform: translate(230%, -15%);
    -moz-transform: translate(230%, -15%);
    -ms-transform: translate(230%, -15%);
    -o-transform: translate(230%, -15%);
}

/*Navigation Bar*/

.navbar {
    height: 0vh;
    width: 100%;
}

.navbar ul {
    text-align: center;
    transform: translate(0%, -1225%);
    -webkit-transform: translate(0%, -1225%);
    -moz-transform: translate(0%, -1225%);
    -ms-transform: translate(0%, -1225%);
    -o-transform: translate(0%, -1225%);
}

.navbar li {
    display: inline;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 40px;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-shadow: 1px ivory;
}

.navbar a,
.navbar a:visited {
    text-decoration: none;
    color: inherit;
}

.navbar a:hover {
    color: yellow;
    background-color: darkgreen;
    font-weight: lighter;
    padding: 1px 8px;
    margin-top: -5px;
    transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.navbar img {
    transform: translate(143%, -60%);
    -webkit-transform: translate(143%, -60%);
    -moz-transform: translate(143%, -60%);
    -ms-transform: translate(143%, -60%);
    -o-transform: translate(143%, -60%);
    height: 900px;
    width: 625px;
}

/*Trailer Section*/
.trailer {
    height: 175vh;
    background-color: #fff0bd;
}

.trailer-title h1 {
    font-family: 'Champion';
    font-size: 65px;
    color: #0a3a04;
    margin: -355px 350px 10px;
}

#trailer-banner {
    height: 350px;
    width: 650px;
    padding: 50px 150px;
}

#trailer-frame {
    height: 850px;
    width: 1500px;
    margin-left: -300px;
    margin-top: -250px;
}

#french {
    transform: translate(34%, 100%);
    -webkit-transform: translate(34%, 100%);
    -moz-transform: translate(34%, 100%);
    -ms-transform: translate(34%, 100%);
    -o-transform: translate(34%, 100%);
}

.trailer-text p {
    font-family: 'Champion';
    font-size: 80px;
    float: right;
    text-align: center;
    color: #8D0800;
    transform: translate(-15%,-300%);
    -webkit-transform: translate(-15%,-300%);
    -moz-transform: translate(-15%,-300%);
    -ms-transform: translate(-15%,-300%);
    -o-transform: translate(-15%,-300%);
}

#open {
    height: 50px;
    width: 50px;
    transform: translate(1700%, -1790%);
    -webkit-transform: translate(1700%, -1790%);
    -moz-transform: translate(1700%, -1790%);
    -ms-transform: translate(1700%, -1790%);
    -o-transform: translate(1700%, -1790%);
}

#close {
    height: 50px;
    width: 50px;
    transform: translate(2700%, -1500%);
    -webkit-transform: translate(2700%, -1500%);
    -moz-transform: translate(2700%, -1500%);
    -ms-transform: translate(2700%, -1500%);
    -o-transform: translate(2700%, -1500%);
}

.creme {
    height: 300px;
    width: 350px;
    border-radius: 50%;
    transform: translate(250%, -125%);
    -webkit-transform: translate(250%, -125%);
    -moz-transform: translate(250%, -125%);
    -ms-transform: translate(250%, -125%);
    -o-transform: translate(250%, -125%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/*Synopsis Section*/
.synopsis {
    height: 145vh;
    width: 100%;
    background-image: url(img/eif.jpg);
    background-size: cover;
}

.synopsis-container {
    margin-left: 850px;
}

.synopsis-container h1 {
    font-family: 'Champion';
    font-size: 70px;
    color: #8D0800;
    padding-top: 250px;
}

.synopsis-container p {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 22px;
    line-height: 30px;
    padding-top: 30px;
}

/*Featured Clips Section*/

.feature-slider {
    height: 150vh;
    width: 100%;
    background-color: #edf5c6;
}

.feature-slider h1 {
    font-family: 'Champion';
    font-size: 50px;
    text-align: center; 
    color: #0a3a04;
    padding-top: 50px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 480%;
    width: 25px;
    padding: 16px;
    margin-left: 30px;
    margin-right: 40px;
    color: white;
    text-align: center;
    background-color: darkred;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
}

.next {
    right: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.prev:hover,
.next:hover {
    background-color: white;
    color: darkred;
}

.text-block iframe {
    transform: translate(10%,5%);
    -webkit-transform: translate(10%,5%);
    -moz-transform: translate(10%,5%);
    -ms-transform: translate(10%,5%);
    -o-transform: translate(10%,5%);
}

.thumbnail img {
    height: 155px;
    width: 195px;
}

.thumbnail {
    display: inline-block;
    margin: 50px 6px;
    transform: translate(62%,5%);
    -webkit-transform: translate(62%,5%);
    -moz-transform: translate(62%,5%);
    -ms-transform: translate(62%,5%);
    -o-transform: translate(62%,5%);
}

.thumbnail p {
    text-align: center; 
    font-family: 'Pathway Gothic One', sans-serif; 
    font-size: 22px;
    margin-top: 10px;
}

/*Cast Section*/

.cast {
    height: 80vh;
    width: 100%;
    background-color: lightyellow;
}