@font-face {
    font-family: 'Champion';
    src: url('optichampion-script.ttf');
}

* {
    margin: 0;
    padding: 0;
}

/*Logo*/

.logo {
    background-color: #8d0800;
    height: 100vh;
    width: 100%;
    background-image: url(img/logobg.jpg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.logo h1 {
    font-family: 'Champion';
    color: ivory;
    font-size: 55px;
    margin-left: 550px;
    margin-top: -10px;
    font-weight: lighter;
    padding-top: 20px;
}

.logo h2 {
    font-family: 'Champion';
    color: ivory;
    font-size: 60px;
    font-weight: lighter;
    margin-left: 700px;
    margin-top: -20px;
}

.logo h3 {
    font-family: 'Champion';
    color: ivory;
    font-size: 45px;
    font-weight: lighter;
    margin-left: 800px;
    margin-top: -60px;
}

#big {
    font-family: 'Champion';
    color: ivory;
    font-size: 85px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-top: -118px;
    margin-left: 730px;
}

#small {
    font-family: 'Champion';
    color: ivory;
    font-size: 50px;
    font-weight: lighter;
    margin-top: -75px;
    margin-left: 960px;
}

.logo img {
    height: 225px;
    width: 275px;
    top: 0;
    left: 0;
    transform: translate(230%, -15%);
    -webkit-transform: translate(230%, -15%);
    -moz-transform: translate(230%, -15%);
    -ms-transform: translate(230%, -15%);
    -o-transform: translate(230%, -15%);
}

/*Navigation Bar*/

.navbar {
    height: 0vh;
    width: 100%;
}

.navbar ul {
    text-align: center;
    transform: translate(0%, -1225%);
    -webkit-transform: translate(0%, -1225%);
    -moz-transform: translate(0%, -1225%);
    -ms-transform: translate(0%, -1225%);
    -o-transform: translate(0%, -1225%);
}

.navbar li {
    display: inline;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 40px;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-shadow: 1px ivory;
}

.navbar a,
.navbar a:visited {
    text-decoration: none;
    color: inherit;
}

.navbar a:hover {
    color: yellow;
    background-color: darkgreen;
    font-weight: lighter;
    padding: 1px 8px;
    margin-top: -5px;
    transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.navbar img {
    transform: translate(145%, -70%);
    -webkit-transform: translate(145%, -70%);
    -moz-transform: translate(145%, -70%);
    -ms-transform: translate(145%, -70%);
    -o-transform: translate(145%, -70%);
    height: 750px;
    width: 600px;
}

/*Trailer Section*/
.trailer {
    height: 175vh;
    background-color: #fff0bd;
}

.trailer-title h1 {
    font-family: 'Champion';
    font-size: 65px;
    color: #0a3a04;
    margin: -355px 350px 10px;
}

#trailer-banner {
    height: 350px;
    width: 650px;
    padding: 50px 150px;
}

#trailer-frame {
    height: 700px;
    width: 1500px;
    margin-left: -325px;
    margin-top: -225px;
}

#french {
    transform: translate(47%, 95%);
    -webkit-transform: translate(47%, 95%);
    -moz-transform: translate(47%, 95%);
    -ms-transform: translate(47%, 95%);
    -o-transform: translate(47%, 95%);
    border-radius: 5px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

.synopsis {
    margin-left: 700px;
    margin-top: -600px;
}

.synopsis h1 {
    font-family: 'Champion';
}

.synopsis p {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 22px;
    text-align: center;  
    padding-top: 30px;
    padding-left: 20px;
}