@font-face {
    font-family: 'Champion';
    src: url('optichampion-script.ttf');
}

* {
    margin: 0;
    padding: 0;
}

/*Logo*/

.logo {
    background-color: darkred;
    height: 100vh;
    width: 100%;
    background-image: url(img/logobg.jpg);
    background-size: 500px 800px; 
    background-position: center;
    background-repeat: no-repeat;   
}

.logo h1 {
    font-family: 'Champion';
    color: ivory;
    font-size: 55px;
    text-align: center;
    font-weight: lighter;
    margin-top: -50px; 
}

.logo img {
    height: 225px;
    width: 275px;
    top: 0;
    left: 0;
    transform: translate(230%, -15%);
    -webkit-transform: translate(230%, -15%);
    -moz-transform: translate(230%, -15%);
    -ms-transform: translate(230%, -15%);
    -o-transform: translate(230%, -15%);
}

/*Navigation Bar*/

.navbar {
    height: 5vh;
    width: 100%; 
    margin-top: -100px;   
    background-image: url(img/logobg.jpg);
}

.navbar ul {
    text-align: center;
}

.navbar li {
    display: inline;
    font-family: 'Champion';
    font-size: 40px;
    font-weight: lighter;
    color: ivory;
    padding: 10px;
    cursor: pointer;
}

.navbar a,
.navbar a:visited {
    text-decoration: none;
    color: inherit;
}

.navbar a:hover {
    color: ivory;
    font-weight: lighter; 
    text-shadow: 2px 2px 2px darkred;
    transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
}